@import 'src/style.scss';

.item-container {
  @include radius($br-regular);
  @include margin(20px, auto);
  width: 250px;
  overflow: hidden;

  img {
    width: inherit;
    height: auto;

    &:hover {
      cursor: pointer;
    }
  }
}
