@import 'src/style.scss';

.item-container {
  @include radius($br-regular);
  @include margin(20px, auto);
  height: 250px;
  width: 250px;
  overflow: hidden;

  .body {
    width: inherit;
    height: auto;
  }

  .content {
    @include padding(20px);
    @include margin(5px);
    @include radius($br-regular);
    box-sizing: border-box;
    background-color: rgba($black, 0.7);
    color: $white;
    transform: translateY(0%);
    transition: all 0.35s ease;
  }

  &:hover {
    cursor: pointer;
    .content {
      transform: translateY(-100%);
    }
  }
}
