@import 'src/style.scss';

.landing-container {
  @include flexbox($justifyContent: center, $direction: column, $alignItems: center);
  @include overlay(0.45, $black);
  @extend .text-center;
  min-height: 75vh;
  background: $white url('./../../assets/images/banner.png') no-repeat center center;
  background-size: cover;
  color: $white;

  header {
    max-width: 60%;
  }

  .title {
    @include text-shadow(1);
  }

  .subtitle {
    text-transform: initial;
    font-size: $fs-xl;
    color: $white;
    max-width: 850px;
  }
}
