@import './../../style.scss';

.container {
  @include flexbox($justifyContent: center, $direction: column);
  min-height: 50rem; // remove
  background: $white url('./../../assets/images/background-2.png') repeat-y top center;
  background-size: cover;
  color: $white;
}
