@import 'src/style.scss';

.nav-bar {
  @include padding(20px, 0);
  @include flexbox($alignItems: center, $justifyContent: space-between);
  gap: 1rem;
  width: 100%;

  .nav-list {
    @include flexbox($justifyContent: space-around);
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .list-item {
      @include padding(10px);
    }

    .item-link {
      text-decoration: none;
      color: $white;
      font-size: $fs-regular;
      text-transform: uppercase;
      letter-spacing: $ls-lg;

      &:hover,
      &:focus {
        cursor: pointer;
        color: $primary;
      }
    }
  }

  .nav-cta {
    background-color: rgba($black, 0.75);
    font-size: $fs-regular;
  }
}
