* {
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
  font-size: $fs-regular;
  line-height: $lh-xl;
  font-weight: 400;
  letter-spacing: $ls-regular;
}

.btn {
  @include padding(7.5px, 12.5px);
  @include border(2.5px solid $white);
  @include radius($br-regular);
  @extend .text-center;
  display: inline-block;
  font-size: $fs-lg;
  text-decoration: none;
  background-color: transparent;
  color: $white;
  font-family: $font-secondary;
  text-transform: capitalize;
  min-width: 165px;
  transition: box-shadow 300ms ease-in-out, color 100ms ease-in-out, backgroundColor 200ms ease-in-out;
  overflow: hidden;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 0;
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &.btnSecondary {
    background-color: $primary;
    border-color: $primary;
    
    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
}

.container {
  padding: 90px 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-auto {
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
  color: $primary;

  &.primary:hover {
    color: $white;
  }

  &.secondary {
    color: $white;

    &:hover {
      color: $primary;
    }
  }
}

header {
  font-family: $font-primary;

  & > * {
    font-family: inherit;
  }

  & > .subtitle {
    font-family: $font-secondary;
    text-transform: uppercase;
  }

  h1 {
    font-size: $fs-6xl;
    margin: 50px 0;
  }

  h2 {
    font-size: $fs-2xl;
  }

  h3 {
    font-size: $fs-xl;
    margin: 0.5rem 0;
  }

  h4 {
    font-size: $fs-lg;
  }

  h5 {
    font-size: $fs-regular;
  }

  h6 {
    font-size: $fs-sm;
  }
}

p {
  color: $codgrey;
  font-size: $fs-lg;
  line-height: $lh-lg;
}
