* {
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
  font-size: $fs-regular;
  line-height: $lh-xl;
  font-weight: 400;
  letter-spacing: $ls-regular;
  overflow-x: hidden;
}

.container {
  padding: 90px 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-auto {
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
  color: $primary;

  &.primary:hover {
    color: $white;
  }

  &.secondary {
    color: $white;

    &:hover {
      color: $primary;
    }
  }
}

header {
  font-family: $font-primary;

  & > * {
    font-family: inherit;
  }

  & > .subtitle {
    font-family: $font-secondary;
    text-transform: uppercase;
  }

  h1 {
    font-size: $fs-6xl;
    margin: 50px 0;
  }

  h2 {
    font-size: $fs-3xl;
  }

  h3 {
    font-size: $fs-2xl;
    font-weight: 500;
    margin: 0.5rem 0;
  }

  h4 {
    font-size: $fs-xl;
  }

  h5 {
    font-size: $fs-regular;
  }

  h6 {
    font-size: $fs-sm;
  }
}

p {
  color: $codgrey;
  font-size: $fs-lg;
  line-height: $lh-lg;
}

.form-container {
  @include margin(1rem, 0);
}

.form-group:not(:last-child) {
  margin-bottom: 1rem;
}
