$font-primary: Pacifico, cursive;
$font-secondary: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;

$fs-10xl: 12rem;
$fs-6xl: 6rem;
$fs-5xl: 5rem;
$fs-4xl: 4rem;
$fs-3xl: 3rem;
$fs-2xl: 2.25rem;
$fs-xl: 1.5rem;
$fs-lg: 1.25rem;
$fs-regular: 0.9rem;
$fs-sm: 0.85rem;
$fs-xs: 0.75rem;

$fsi-2xl: 1.5rem;
$fsi-xl: 1.25rem;
$fsi-lg: 1.15rem;
$fsi-regular: 1rem;
$fsi-sm: 0.85rem;
$fsi-xs: 0.75rem;

$lh-4xl: 1.75;
$lh-3xl: 1.65;
$lh-2xl: 1.5;
$lh-xl: 1.25;
$lh-lg: 1.15;
$lh-regular: 1;
$lh-sm: 0.85;
$lh-xs: 0.75;

$pd-lg: 1.25rem;
$pd-regular: 1rem;

$black: #000000;
$white: #FFFFFF;
$codgrey: #1D1D1D;
$tundora: #564343;
$primary: #E7A331;

$br-xl: 10px;
$br-lg: 7.5px;
$br-regular: 5px;
$br-sm: 2.5px;
$br-none: 0;

$border-primary: $primary;
$nav-primary: $primary;
$nav-hover: $white;

$zi-nav: 999;
$zi-body: 1;
$zi-body-lower: -1;
$zi-hidden: -999;

$ls-lg: 1.15;
$ls-regular: 1;
$ls-sm: 0.85;
