$font-primary: Pacifico, cursive;
$font-secondary: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;

$fs-10xl: 106px;
$fs-2xl: 38px;
$fs-xl: 30px;
$fs-lg: 22px;
$fs-regular: 15px;
$fs-sm: 12px;
$fs-xs: 8px;

$lh-3xl: 1.75;
$lh-2xl: 1.5;
$lh-xl: 1.25;
$lh-lg: 1.15;
$lh-regular: 1;
$lh-sm: 0.75;

$pd-lg: 1.25rem;
$pd-regular: 1rem;

$black: #000000;
$white: #FFFFFF;
$codgrey: #1D1D1D;
$tundora: #564343;
$primary: #E7A331;

$br-xl: 4px;
$br-lg: 2px;
$br-regular: 0;

$border-primary: $primary;
$nav-primary: $primary;
$nav-hover: $white;
