@import 'src/style.scss';

.btn {
  @include padding(7.5px, 12.5px);
  @include border(2.5px solid $white);
  @include radius($br-regular);
  @extend .text-center;
  display: inline-block;
  font-size: $fs-lg;
  letter-spacing: $ls-lg;
  text-decoration: none;
  background-color: transparent;
  color: $white;
  font-family: $font-secondary;
  text-transform: capitalize;
  min-width: 165px;
  transition: box-shadow 300ms ease-in-out, color 100ms ease-in-out, backgroundColor 200ms ease-in-out;
  overflow: hidden;
  font-variant: small-caps;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 0;
    background-color: rgba($primary, 0.5);
    border-color: $primary;
    color: $white;
  }

  &.secondary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
      background-color: rgba($white, 0.9);
      color: $primary;
    }
  }

  &.small {
    font-size: $fs-sm;
    min-width: 100px;
  }
}
