@import 'src/style.scss';

.special-container {
  @include flexbox($justifyContent: center);
  @include overlay(0.45, $black);
  @include padding(7.5rem, 0);
  box-sizing: border-box;
  background: $white url('./../../assets/images/background-1.png') no-repeat center center;
  background-size: cover;
  color: $white;

  .card {
    @include flexbox($alignItems: center, $justifyContent: center);
    @include flex($fb: 0);
    @include margin(0, 10rem);

    .card-image,
    .card-body {
      @include flex(1, 1, 0);
      overflow: hidden;
    }

    .card-image {
      @include radius($br-regular);
      z-index: $zi-body-lower;
      transform: scale(1.2);
      overflow: hidden;
      order: 2;
      
      img {
        width: inherit;
        max-width: 100%;
        height: auto;
      }
    }

    .card-body {
      @include padding(40px);
      @include flexbox($direction: column);
      @include flex(1, 1, 0);
      background: $white url('./../../assets/images/texture-1.png') repeat top left;
      color: $black;
      order: 1;
      overflow: hidden;
    }

    .summary {
      flex-grow: 1;
    }
  }
}
