@import 'src/style.scss';

.about-section {
  @include padding(7.5rem, 0);
  background: $white url('./../../assets/images/texture-1.png') repeat-y top center;
  background-size: cover;
  color: $black;

  .container {
    @include flexbox($justifyContent: center, $alignItems: stretch);
    @include padding(0, 1rem);
    gap: 2rem;
    z-index: $zi-body;
  }

  .column {
    @include flex(1, 1, 0);

    &:nth-child(2) {
      @include flex(2, 1, 0);
    }
  }

  .summary {
    max-width: 75%;

    & p {
      letter-spacing: $ls-sm;
    }
  }

  .img-wrapper {
    position: relative;
    @include flexbox($alignItems: center, $grow: 1);

    .about1,
    .about2 {
      @include border(10px solid $white);
      width: 350px;
      height: 350px;
      background: $white no-repeat center center;
      background-size: cover;
      position: absolute;
      right: 40px;
    }

    .about1 {
      background-image: url('./../../assets/images/image-about-1.png');
      transform: rotate(-15deg);
    }

    .about2 {
      background-image: url('./../../assets/images/image-about-2.png');
    }
  }
}
