@import 'src/style.scss';

.siteNavigation {
  position: fixed;
  width: 100%;
  z-index: $zi-nav;

  .siteAddress {
    background-color: $white;
    width: 100%;

    .icons {
      .iconLink {
        @include padding(5px);
        color: $primary;

        &:hover,
        &:focus {
          color: $black;
        }
      }
    }
  }
}
