@import 'src/style.scss';

.header-bar {
  position: fixed;
  width: 100%;
  z-index: $zi-nav;

  .logo {
    @include padding(20px);
    @include radius(0, 0, 50%, 50%);
    background-color: $primary;
    width: 150px;
    box-sizing: content-box;
    position: absolute;

    .logo-img {
      width: inherit;
      height: auto;
    }
  }

  .row {
    @include padding(0, 15rem, 0, 10rem);
  }

  .nav-bar-wrapper {
    background-color: rgba($black, 0.75);
  }

  .address {
    @include flexbox($alignItems: baseline);
    background-color: $white;
    width: 100%;
    gap: 3rem;

    .site-hours,
    .site-contact {
      @include flexbox($alignItems: center, $justifyContent: center);
      color: $tundora;
      gap: 5px;
      font-weight: bold;
      text-transform: uppercase;

      .icon {
        color: $primary;
      }
    }

    .site-gap {
      @include flex-grow();
    }

    .icons {
      .icon-link {
        @include padding(5px);
        color: $primary;

        &:hover,
        &:focus {
          color: $black;
        }

        .icon {
          font-size: $fsi-regular;
          max-width: $fsi-regular;
          height: $fsi-regular;
        }
      }
    }
  }
}
