@import 'src/style.scss';

.icon {
  color: inherit;

  &.size-2xl {
    font-size: $fsi-2xl;
    max-width: $fsi-2xl;
    height: $fsi-2xl;
  }

  &.size-xl {
    font-size: $fsi-xl;
    max-width: $fsi-xl;
    height: $fsi-xl;
  }

  &.size-lg {
    font-size: $fsi-lg;
    max-width: $fsi-lg;
    height: $fsi-lg;
  }

  &.size-reg {
    font-size: $fsi-regular;
    max-width: $fsi-regular;
    height: $fsi-regular;
  }

  &.size-sm {
    font-size: $fsi-sm;
    max-width: $fsi-sm;
    height: $fsi-sm;
  }

  &.size-xs {
    font-size: $fsi-xs;
    max-width: $fsi-xs;
    height: $fsi-xs;
  }
}
