@import 'src/style.scss';

.footer-container {
  @include flexbox();
  background: $codgrey url('./../../assets/images/texture-2.png') repeat left top;
  color: $white;

  .column {
    @include flex;

    header {
      @extend .text-center;
    }
  }

  .reach {
    address p {
      color: inherit;
    }
  }

  .timings {
  }

  .feedback {
    .title {
      @extend .text-left;
    }
  }
}
