@import 'src/style.scss';

.footer-container {
  @include flexbox($justifyContent: center);
  @include padding(2.5rem);
  background: $codgrey url('./../../assets/images/texture-2.png') repeat left top;
  color: $white;

  .column {
    @include flexbox($direction: column);
    @include flex(1);

    header {
      @extend .text-center;
    }

    .column-head {
      @include margin(0, 0, 1rem, 0);
    }
  }

  .reach {
    @extend .text-center;

    .column-body {
      @include flex(1);
    }

    .address {
      color: inherit;
    }
  }

  .timings {
    @extend .text-center;

    .timing {
      @include margin(0, 0, 2rem);
    }

    .meals {
      @include margin(0, 0, 0.5rem);
    }
  }

  .feedback {
    .title {
      @extend .text-left;
    }
  }

  .modal-content {
    .modal-head {
      @include margin(0, auto, 1rem);
    }

    .modal-body {
      line-height: $lh-2xl;
      font-family: $font-secondary;
    }
  }
}
