@import 'src/style.scss';

.apps-container {
  @include flexbox($justifyContent: center);
  @include overlay(0.65, $black);
  @include padding(7.5rem, 2.5rem);
  background: $white url('./../../assets/images/background-3.png') no-repeat center center;
  background-size: cover;
  color: $white;
  gap: 4rem;

  .column-image {
    @extend .text-right;
    max-height: 600px;

    img {
      max-height: inherit;
    }
  }

  .subtitle {
    @include margin(0);
  }

  .app-available {
    @include margin(0, 0, 4rem);
    text-transform: uppercase;
  }

  .app-links {
    .app-link {
      @include margin(0, 0, 0, 1rem);
      max-width: initial;
      height: auto;

      &:hover {
        cursor: pointer;
      }
    }

    .links-wrapper {
      @include flexbox();
    }
  }
}
